.titulo {
    letter-spacing: 3px;
    font-size: 35px;
    color: #180000;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #313333;
    
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #222020;
}
body::-webkit-scrollbar-thumb {
    background-color: #a89a9a;
    border-radius: 2px;

}

/*AREA HEADER*/
header {
    position: fixed;
    width: 100vw;
}

header p {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

header p:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(31, 33, 33, 0.5);
  height: 8vh;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  padding: 10px;
  background-color: #0f0f0f;
  border-radius: 5px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 60vw;
    height: 92vh;
    background-color: rgba(31, 33, 33, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
@media (max-width: 490px){
  .nav-list{
    width: 80vw;
  }
}
.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/*AREA SECTION ONE*/
.sectionOne{
    height: 1600px;
    background-image: linear-gradient(to left bottom, #0e4f3b, #004647, #1c3c46, #2a313a, #2a2a2a);
}
.sectionOne-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionOne-text{
    margin-right: 18vw;
    margin-left: 7vw;
}
.sectionOne-text p{
    font-size: 35px;
    color: #fff;
}
.sectionOne-text p:nth-child(2) {
  color: #000000;
  font-weight: bold;
  font-size: 60px;
}
.sectionOne-text .p{
   margin-top: 15px;
    margin-bottom: 30px;
}
.sectionOne-text b{
  font-size: 35px;
}

.sectionOne-text a{
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    font-size: 30px;
    padding: 20px 50px;
    border-radius: 5px;
}
.sectionOne-text a:hover{
  background-color: #0e76a8;
}
.sectionOne-text a:nth-child(2):hover {
  background-color: #171515;
}
.sectionOne-IMG{

}
.sectionOne-IMG img{
    height: 568px;
    width: 320px;
}
@media (max-width:1150px){
  .sectionOne-text p:nth-child(2) {
    font-size: 45px;
  }
  .sectionOne-text p {
    font-size: 30px;
  }
  .sectionOne-text a {
    font-size: 28px;
    padding: 12px 30px;
  }
}
@media (max-width: 900px){
    .sectionOne-IMG {
      display: none;
    }
    .sectionOne-text{
      margin-right: 0px;
      margin-left: 0px;
      margin-top: 20vh;
    }

}
@media (max-width: 500px) {

  .sectionOne-text p:nth-child(2) {
    font-size: 38px;
  }
  .sectionOne-text p {
    font-size: 28px;
  }
  .sectionOne-text a {
    font-size: 28px;
    padding: 12px 30px;
  }
}
@media (max-width: 390px) {
  .sectionOne-text div{
    display: flex;
    flex-direction: column;
  }
  .sectionOne-text p:nth-child(2) {
    font-size: 28px;
  }
  .sectionOne-text p {
    font-size: 24px;
  }
  .sectionOne-text a {
    font-size: 24px;
    padding: 10px 26px;
    text-align: center;
    margin-top: 10px;
  }
}


/*AREA SECTION TWO*/
.sectionTwo{
  background-image: linear-gradient(to left top, #0e4f3b, #024c41, #004945, #044548, #0f4148, #183e47, #1f3a44, #253741, #29333c, #2c3036, #2c2c30, #2a2a2a);
    height: 1600px;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sectionTwo .titulo{
  color: #0562a0;
  text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
  margin-bottom: 20px;
}
.sectionTwo img{
    height: 284px;
    width: 160px;
    margin-right: 4vw;
    margin-top: 15vh;
} 
.aboutMe {
    width: 37vw;
    margin-top: 15vh;
}
.aboutMe p{
    margin-top: 8px;
    font-size: 19px;
    color: #fff;
   text-align: justify;
}
@media (max-width: 900px) {
  .sectionTwo img{
    display: none;
  }
  .aboutMe {
    width: 80vw;
  }
}
@media (max-width: 400px) {
  .sectionTwo .titulo{
    font-size: 35px;
    text-align: center;
  }

  .aboutMe p{
    font-size: 16px;
  }
}

/*AREA SECTION THREE*/
.sectionThree{
  background-image: linear-gradient(to top, #43464c, #3f4650, #3b4554, #364558, #2f455c);
    height: 1600px;
    display: flex;
    text-align: center;
    flex-direction: column;

}
.sectionThree .titulo{
    color: #f0f0f0;
    margin-top: 10vh;
    margin-bottom: 40px;
}
.slider { 
    flex: 1;
    overflow: hidden;
}
.slider-width {
    height: 900px;
    display: flex;
    transition: all ease 0.3s;
}
.slider-item {
    width: 100vw;
    height: inherit;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}
.slider-controls {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-control {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
}


/*AREA SECTION Four*/
.sectionFour{
  background-image: linear-gradient(to bottom, #2b2b2c, #2b2c33, #2a2e3a, #263041, #203348);
    height: 800px;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #fff;

}
.sectionFour .titulo{
    margin-top: 15vh;
    color: #d6d0d5;
}
.sectionFour-area {
  display: flex;
  justify-content: center;
}
.sectionFour-IMGs {
}
.sectionFour-IMGs .IMGs-one,
.sectionFour-IMGs .IMGs-two{
  margin-top: 40px;
}
.sectionFour-area img{
  width: 100px;
  height: 100px;
  margin-left: 15px;
}
.IMGs-one .html{
  background-color: #b9b6b6;
  padding: 1px;
  border-radius: 5px;
}
.IMGs-one .css{
  background-color: #b9b6b6;
  padding: 1px;
  border-radius: 5px;
}
.IMGs-one .js{
  background-color: #b9b6b6;
  padding: 1px;
  border-radius: 5px;
}
.IMGs-two .ts{
  background-color: #000000;
  padding: 5px;
  border-radius: 5px;
}
.IMGs-two .git{
  background-color: #000000;
  padding: 1px;
  border-radius: 5px;
}
.IMGs-two .bdd{
  background-color: #000000;
  padding: 4px;
  border-radius: 5px;
}
.sectionFour-text {
  margin-left: 40px;
  display: flex;
  text-align: start;
  font-size: 15px;
  line-height: 20px;
  color: #d8d6d6;
  width: 38vw;
  height: 250px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 40px;
}
.htmlText,
.cssText,
.JSText,
.TSText,
.gitText,
.bddText {
  display: none;
}
@media (max-width: 810px){
  .sectionFour-area {
    display: flex;
    flex-direction: column-reverse;
  }
 .sectionFour-area img{
    width: 50px;
    height: 50px;
    margin-left: 8px;
    margin-bottom: 10px;
    display: block;

  }
  .sectionFour-IMGs {
    display: flex;
    justify-content: center;
  }
  .IMGs-one,
  .IMGs-two {
    display: flex;
  }
  .sectionFour-text {
    width: 60vw;
    margin-left: 20vw;
  }

}
@media (max-width: 450px) {
  .sectionFour-area img{
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-bottom: 10px;
    display: block;

  }
  .sectionFour-IMGs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .IMGs-one, .IMGs-two {
    display: flex;
    justify-content: center;
    margin-top: 2px!important;
  }

}

/*Rodapé*/
footer {
  height: 270px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  background-color: #111111;
  color: #fff;

}
footer h2 {
  margin-bottom: 40px;
}
footer div:nth-child(2) {
  height: 200px;
  padding-left: 30px;
  padding-right: 30px;
  border-left:  1px solid #ffffff;
  border-right:  1px solid #ffffff;
}
footer a{
  text-decoration: none;
  background-color: #000000;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
}
footer a:hover{
  background-color: #202222;
}
@media (max-width:780px) {
  footer {
    flex-direction: column;
    justify-content: start;
    height: 410px;
    text-align: start;
    padding-left: 10vw;
  }
  footer div:nth-child(2) {
    border-left:  0;
    border-right:  0;
    padding: 0;
    height: 110px;
  }
  footer h2{
    margin-bottom: 15px;
  }
}